{% extends "base.html" %}
{% load static %}
{% block title %}
جزییات محصول
{% endblock %}

{% block content %}
<section class="breadcrumb__area box-plr-75">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">فروشگاه</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="product-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="product__details-nav d-sm-flex align-items-start">
                            <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="thumbOne-tab" data-bs-toggle="tab" data-bs-target="#thumbOne" type="button" role="tab" aria-controls="thumbOne" aria-selected="true">
                                      <img src="{{ product.image.url }}" alt="" width="100" height="100">
                                  </button>
                                </li>
                            </ul>
                            <div class="product__details-thumb">
                                <div class="tab-content" id="productThumbContent">
                                    <div class="tab-pane fade show active" id="thumbOne" role="tabpanel" aria-labelledby="thumbOne-tab">
                                        <div class="product__details-nav-thumb w-img">
                                            <img src="{{ product.image.url }}" width="300" height="600" alt="">
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
            <div class="col-xl-6">
                <div class="product__details-content">
                    <h6>{{ product.name }}</h6>
                    <div class="pd-rating mb-10">
                        <ul class="rating">
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                        </ul>
                        <span>(01 نظر)</span>
                        <span><a href="#">افزودن امتیاز</a></span>
                    </div>
                    <div class="price mb-10">
                        <span>ت{{ product.price }}</span>
                    </div>
                    <div class="features-des mb-20 mt-10">
                        <ul>
                            <li><a href="product-details.html"><i class="fas fa-circle"></i>{{product.detail}}</a></li>
                        </ul>
                    </div>
                    <div class="product-stock mb-20">
                        <h5>موجودی: <span> {{product.quantity}} موجود</span></h5>
                    </div>
                    <div class="cart-option mb-15">
                        <div class="product-quantity mr-20">
                            <div class="cart-plus-minus p-relative"><input type="text" value="1"><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                        </div>
                        <a href="cart.html" class="cart-btn">افزودن به سبد</a>
                    </div>
                    <div class="details-meta">
                        <div class="d-meta-left">
                            <div class="dm-item mr-20">
                                <a href="#"><i class="fal fa-heart"></i>افزودن به علاقه مندی</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-tag-area mt-15">
                        <div class="product_info">
                            <span class="posted_in">
                                <span class="title">دسته بندی:</span>
                                {% for category in product_categories %}
                                    <a href="#">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            <span class="tagged_as">
                                <span class="title">برچسب:</span>
                                {% for tag in product_tags %}
                                    <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
<div class="product-details-des mt-40 mb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="product__details-des-tab">
                    <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="true">توضیحات </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">نظرات (1) </button>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="prodductDesTaContent">
            <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                <div class="product__details-des-wrapper">
                    <p>{{product.description}}</p>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="product__details-review">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="review-rate">
                                <h5>5.00</h5>
                                <div class="review-star">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                                <span class="review-count">01 نظر</span>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="review-des-infod">
                                <h6>1 نظر برای "<span>هدفون روی گوش بلوتوث بی سیم</span>"</h6>
                                <div class="review-details-des">
                                    <div class="author-image mr-15">
                                        <a href="#"><img src="assets/img/author/author-sm-1.jpg" alt=""></a>
                                    </div>
                                    <div class="review-details-content">
                                        <div class="str-info">
                                            <div class="review-star mr-15">
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                                <a href="#"><i class="fas fa-star"></i></a>
                                            </div>
                                            <div class="add-review-option">
                                                <a href="#">افزودن نظر</a>
                                            </div>
                                        </div>
                                        <div class="name-date mb-30">
                                            <h6> مدیر – <span> 2 دی 1400</span></h6>
                                        </div>
                                        <p>یک صندلی سبک که به راحتی در اطراف میز ناهارخوری و اتاق حرکت می کند. اما درد در فیلم برای نقد کردن سخت است <br> لذت میل به فرار از درد است و درد نتیجه هیچ.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="product__details-comment ">
                                <div class="comment-title mb-20">
                                    <h3>ارسال نظر</h3>
                                    <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند *</p>
                                </div>
                                <div class="comment-rating mb-20">
                                    <span>امتیاز</span>
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="comment-input-box">
                                    <form action="#">
                                        <div class="row">
                                        <div class="col-xxl-6 col-xl-6">
                                            <div class="comment-input">
                                                <input type="text" placeholder="نام شما">
                                            </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-6">
                                            <div class="comment-input">
                                                <input type="email" placeholder="ایمیل شما">
                                            </div>
                                            </div>
                                            <div class="col-xxl-12">
                                                <textarea placeholder="تمتیاز شما" class="comment-input comment-textarea"></textarea>
                                            </div>
                                            <div class="col-xxl-12">
                                            <div class="comment-agree d-flex align-items-center mb-25">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                    برای دفعه بعد که نظر می دهم نام، ایمیل و وب سایت من را در این مرورگر ذخیره کنید.
                                                    </label>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-xxl-12">
                                            <div class="comment-submit">
                                                <button type="submit" class="cart-btn">ارسال</button>
                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}