{% extends 'base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block content %}
<div class="page-banner-area page-banner-height" data-background="{% static 'assets/img/banner/page-banner-1.jpg' %}" style="background-image: url(&quot;assets/img/banner/page-banner-1.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-banner-content text-center">
                    <h3>درباه ما</h3>
                    <p>آرامشی شگفت‌انگیز تمام روحم را فراگرفته است، مثل این صبح‌های شیرین بهاری <br>که با تمام وجود از آن لذت می‌برم.</p>
                    <div class="page-bottom-btn mt-55">
                        <a href="shop.html" class="st-btn-4">بررسی کن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area pt-80 pb-80" data-background="{% static 'assets/img/bg/about-bg.png' %}" style="background-image: url(&quot;assets/img/bg/about-bg.png&quot;);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-content">
                    <span>درباره فروشگاه آنلاین ما</span>
                    <h4>سلام,</h4>
                    <h5 class="banner-t mb-30">با 25+ سال سابقه</h5>
                    <p class="about-text">بیش از 25 سال به شرکت ها کمک می کند تا به اهداف مالی و برندسازی <br> خود برسند.</p>
                    <p>بهترین راه برای لذت بردن از دم کردن چای روی میوه کم آویزان برای شناسایی. و درد درد در دفتر، در درد، به شکل درد در المپیک، می خواهد آزاردهنده عواقب آن باشد، یا اینکه از درد سیستم ایمنی رنج می برد. برای من، مهمترین بخش پیشرفت در عکاسی است.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-image w-img">
                    <img src="{% static 'assets/img/about/about-b.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area light-bg-s pt-70 pb-40">
    <div class="container">
        <div class="row mb-35">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>تیم</span>
                    <h4>تیم ما</h4>
                    <p>بهترین راه برای لذت بردن از دم کردن چای روی میوه کم آویزان برای شناسایی. و درد در دفتر یا اوست یا او در دفتر است.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-3.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">اقبال حسین</a></h5>
                        <span>سئو</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-4.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">جان دی</a></h5>
                        <span>سئو</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-team text-center mb-30">
                    <div class="team-image mb-35 w-img">
                        <div class="inner-timg">
                            <a href="about.html">
                                <img src="{% static 'assets/img/team/person-5.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tauthor-degination mb-15">
                        <h5><a href="about.html">مری باب</a></h5>
                        <span>سئو</span>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}