{% extends 'base.html' %}
{% load static %}
{% block title %}تماس با ما{% endblock %}
{% block content %}
<div class="page-banner-area page-banner-height" data-background="{% static 'assets/img/banner/page-banner-3.jpg' %}" style="background-image: url(&quot;assets/img/banner/page-banner-3.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-banner-content text-center">
                    <h4 class="breadcrumb-title">تماس با ما</h4>
                    <div class="breadcrumb-two">
                        <nav>
                            <nav class="breadcrumb-trail breadcrumbs">
                                <ul class="breadcrumb-menu">
                                    <li class="breadcrumb-trail">
                                    <a href="{% url 'home' %}"><span>خانه</span></a>
                                    </li>
                                    <li class="trail-item">
                                    <span>تماس با ما</span>
                                    </li>
                                </ul>
                            </nav> 
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="location-area pt-70 pb-25">
    <div class="container">
        <div class="row mb-25">
            <div class="col-xl-12">
                <div class="abs-section-title text-center">
                    <span>محل فروشگاه</span>
                    <h4>جایی که ما هستیم</h4>
                    <p>بهترین راه برای لذت بردن از دم کردن چای روی میوه کم آویزان برای شناسایی. و درد در دفتر یا اوست یا او در دفتر است.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-1.jpg' %}" alt="">
                    </div>
                    <h6>پاریس</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>آدرس ما</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  </p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>تماس</span>
                            <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>ایمیل</span>
                            <p><a href="mailto:store@company.com">store@company.com</a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-2.jpg' %}" alt="">
                    </div>
                    <h6>لندن</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>آدرس ما</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>تماس</span>
                            <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>ایمیل</span>
                            <p><a href="mailto:store@company.com">store@company.com</a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-3.jpg' %}" alt="">
                    </div>
                    <h6>تهران</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>آدرس ما</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>تماس</span>
                            <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>ایمیل</span>
                            <p><a href="mailto:store@company.com">store@company.com</a></p>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="location-item mb-30">
                    <div class="location-image w-img mb-20">
                        <img src="{% static 'assets/img/location/location-4.jpg' %}" alt="">
                    </div>
                    <h6>تبریز</h6>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-map-marker-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>آدرس ما</span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>  
                        </div>
                    </div>
                    <div class="sm-item-loc sm-item-border mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        <div class="sm-content">
                            <span>تماس</span>
                            <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                        </div>
                    </div>
                    <div class="sm-item-loc mb-20">
                        <div class="sml-icon mr-20">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="sm-content">
                            <span>ایمیل</span>
                            <p><a href="mailto:store@company.com">store@company.com</a></p>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}