{% extends "base.html" %}
{% load static %}
{% load product_tags %}

{% block title %}
خانه
{% endblock %}

{% block content %}

<div class="body-overlay"></div>
<main>
<div class="slider-area light-bg-s pt-60">
  <div class="container 0">
    <div class="row">
      <div class="col-xl-6">
        <div class="swiper-container slider__active pb-30 swiper-container-fade swiper-container-rtl">
          <div class="slider-wrapper swiper-wrapper" style="transition-duration: 0ms;">

            <div class="single-slider b-radius-2 swiper-slide slider-height-3 d-flex align-items-center"
                 data-background="{% static "assets/img/slider/03-slide-3.jpg" %}"
                 style="background-image: url('{% static "assets/img/slider/03-slide-3.jpg" %}'); width: 540px;">
              <div class="slider-content slider-content-2">
                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s">
                  <a href="shop.html" class="st-btn b-radius">تخفیف داغ</a>
                </div>
                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">محدود<br>تخفیف هفته</h2>
                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">20% تخفیف روی محصولات</p>
                <div class="slider-bottom-btn mt-65">
                  <a data-animation="fadeInUp" data-delay="1.10s" href="{% url 'product_list' %}" class="st-btn-border b-radius-2">بررسی کن</a>
                </div>
              </div>
            </div>

            <div class="single-slider swiper-slide b-radius-2 slider-height-3 d-flex align-items-center"
                 data-background="{% static "assets/img/slider/03-slide-1.jpg" %}"
                 style="background-image: url('{% static "assets/img/slider/03-slide-1.jpg" %}'); width: 540px;">
              <div class="slider-content slider-content-2">
                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s">
                  <a href="shop.html" class="st-btn b-radius">تخفیف داغ</a>
                </div>
                <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">فروش بزرگ <br> هدفون</h2>
                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">بهترین نسخه ورزشی 2022</p>
                <div class="slider-bottom-btn mt-65">
                  <a data-animation="fadeInUp" data-delay="1.15s" href="{% url 'product_list' %}" class="st-btn-border b-radius-2">بررسی کن</a>
                </div>
              </div>
            </div>

            <div class="single-slider swiper-slide b-radius-2 slider-height-3 d-flex align-items-center"
                 data-background="{% static "assets/img/slider/03-slide-2.jpg" %}"
                 style="background-image: url('{% static "assets/img/slider/03-slide-2.jpg" %}'); width: 540px;">
              <div class="slider-content slider-content-2">
                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s">
                  <a href="shop.html" class="st-btn b-radius">تخفیف داغ</a>
                </div>
                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">مسواک 360<br> وایرلس</h2>
                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.7s">هدفون و لوازم جانبی با کیفیت بالا</p>
                <div class="slider-bottom-btn mt-65">
                  <a data-animation="fadeInUp" data-delay="1.9s" href="{% url 'product_list' %}" class="st-btn-border b-radius-2">بررسی کن</a>
                </div>
              </div>
            </div>

          </div>

          <div class="main-slider-paginations swiper-pagination"></div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-sm-6">
                <div class="banner__item p-relative w-img mb-30">
                  <div class="banner__img banner__img-2 b-radius-2">
                    <a href="product-details.html">
                      <img src="{% static "assets/img/banner/banner-17.jpg" %}" alt="">
                    </a>
                  </div>
                  <div class="banner__content">
                    <h6><a href="product-details.html">استایل جدید <br> بلندگوی بلوتوث</a></h6>
                    <p class="banner-p mt-30">ارسال رایگان 20 کیلومتر</p>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-sm-6">
                <div class="banner__item p-relative w-img mb-30">
                  <div class="banner__img banner__img-2 b-radius-2">
                    <a href="product-details.html">
                      <img src="{% static "assets/img/banner/banner-18.jpg" %}" alt="">
                    </a>
                  </div>
                  <div class="banner__content">
                    <h6><a href="product-details.html">محدود <br> دوربین برتر</a></h6>
                    <p class="banner-p mt-30">ارسال رایگان 20 کیلومتر</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6">
            <div class="banner__item p-relative w-img mb-30">
              <div class="banner__img banner__img-3 b-radius-2">
                <a href="product-details.html">
                  <img src="{% static "assets/img/banner/banner-19.jpg" %}" alt="">
                </a>
              </div>
              <div class="banner__content banner__content-3">
                <div class="banner-df-btn mb-15">
                  <a href="#" class="st-btn b-radius">تخفیف داغ</a>
                </div>
                <p>ایکس باکس</p>
                <h6 class="df-title"><a href="product-details.html">فروش تا 50% تخفیف</a></h6>
                <div class="bottom-btn">
                  <a href="{% url 'product_list' %}" class="st-btn-border-2 b-radius">بررسی کن</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% show_discount_products  %}

<section class="banner__area banner__area-d pb-10 pt-45">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 ">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="#"><img src="{%static 'assets/img/banner/banner-4.jpg'%}" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <span>محصولات پرفروش</span>
                                <h6><a href="#">کامپیوتر و ایستگاه اتصال</a></h6>
                                <p>20% تخفیف، محصولات با کیفیت بالا</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img">
                                <a href="#"><img src="{%static 'assets/img/banner/banner-5.jpg'%}" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <span>محصولات ویژه</span>
                                <h6><a href="#">لوازم جانبی آیفون</a></h6>
                                <p>ارسال رایگان تمام سفارشات بالای 99 دلار</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% show_special_products_home %}
        {%show_best_categories%}
        {% show_blog_posts %}

</main>

{% endblock %}
